.notice
  = notice

= link_to 'Add Book', new_book_path

%table#booklist
  - @books.each do |book|
    %tr
      %td
        %img.book_image(src="#{book.image_url}")
      %td=book.title
      %td=link_to 'Edit', edit_book_path(book.id)
= paginate @books
